.deck {
  margin: 0 auto;
  width: 50%;
  background: #ffdd99;

  display: grid;
  grid-template-columns: repeat(4, 10vw);
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 5px;
  justify-content: center;
  align-content: center;

  padding: 1rem;

  perspective: 900px;

  .card {
    color: #fff;
    // height: 10rem;
    // width: 10rem;

    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  // Flip card when selected
  .card.open {
    transform: rotateY(180deg);
  }

  .card.match {
    // background: red;
    // border: 4px solid blue;
  }

  .card.match .card_face-front img{
    // display: none;
  }

  // Immediately when cards are a match
  .card.match .card_face-back {
    // background: green !important;
    // background: red !important;
  }

  .card_face {
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .card_face-front {
    background: #80ffcc;
  }

  .card_face-front img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // Inside of card
  .card_face-back {
    transform: rotateY(180deg);
  }

  .card_face-back img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card.disabled {
    pointer-events: none;
  }

}
